# Dependencies
node_modules/
bun.lockb
package-lock.json
pnpm-lock.yaml
yarn.lock

# Build output
dist/
out/
*.tgz

# Tailwind/PostCSS cache
.tailwindcache

# Code coverage
coverage/
*.lcov

# Logs
logs/
*.log
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Environment variables
.env
.env.*.local

# Caches
.cache/
.eslintcache
*.tsbuildinfo

# IDEs and editors
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# MacOS Finder
.DS_Store

# Vite specific
.vite/
